/* PrettyJsonTheme.css */
.pretty-json {
  background-color: transparent;
  padding: 1rem;
  border-radius: 0.5rem;
  font-family: monospace;
  color: #c5c8c6;
  overflow-x: auto;
}

.pretty-json .json-key {
  color: #9cdcfe;
}
.pretty-json .json-string {
  color: #ce9178;
}
.pretty-json .json-number {
  color: #b5cea8;
}
.pretty-json .json-boolean {
  color: #569cd6;
}
.pretty-json .json-null {
  color: #d4d4d4;
}
